{% extends 'base.html' %}

{% block title  %} Home {% endblock %}
{% block content %}


<div class="list-group mt-4">
    {% for post in posts %}
    <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <small>{{post.readable_time()}}</small>
        </div>
        <p class="mb-1">{{post.content}}
        </p>
        <small>post by: {{post.owner.full_name}}</small>
        {% if post.tags %}
        <p><strong>Tags:</strong>
        {% for tag in post.tags %}
        <span class="badge badge-pill badge-primary">{{tag.name}}</span>
        {% endfor %}
        </p>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}